<%= flash[:alert] %>
<% @entries.each do |e| %>
  <% unless e.user == current_user %>
    <h2><strong><%= e.user.name %>さん</strong>とのチャット</h2>
  <% end %>
<% end %>

<div class="chat-messages">
  <%= render "messages/chat-index", messages: @messages %>
</div>


<%= form_with model: @message, local: false do |f| %>
  <%= f.text_area :content %>
    <%= f.hidden_field :room_id, value: @room.id %>
  <div class="form-group">
      <%= f.submit "送信", class: 'btn btn-primary' %>
  </div>
<% end %>
